<!DOCTYPE html>
<head>
	
</head>

<header>
	<div>
		<navmenu>
			<li><a href="#">Services</li>
			<li><a href="#">About</li>
			<li><a href="#">Specials</li>
			<li><a href="#">Scheduling</li>
			<li><a href="#">Contact</a></li>
		</navmenu>
	</div>
</header>

<body>
	
</body>

<footer>
	
</footer>